body {
    background-image: url(./goldfishSoccer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0; 
    .scoreboard {
        position: fixed;
        top: 40px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px
    }
    .fox {
        position: fixed;
        top: 20px; 
        right: 20px; 
        width: 200px;
        height: 100px;
    }


}