body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8ACE00;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: black;
}
nav a{
    font-family:'Arial';
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:white;
}


img{
    width:30vw;
    height: 60vh;
    transition: transform 0.5s ease-in-out;
}
img:hover {
    transform: rotate(360deg);
  }

#red-ball{
    background-color: crimson;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation: move-across 3s linear infinite alternate;
}
@keyframes move-across {
    from {
        left: 5vw;
    }
    to {
        left: 90vw;
    }
}
h1{
    font-family:'Arial';
}