nav{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #6A599D;
    font-size: xx-large;
    font-family: "Audiowide", sans-serif;
    letter-spacing: 5px;
    align-items: center;
    text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.962);
    animation: fadeIn 2s ease-in-out;
    box-shadow: 0 0 40px #733cb7;
    padding: 0;
    margin: 0;
    z-index: 1000;
} 
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 
body{
    background-color: rgb(255, 255, 255);
    background-size: 150%;
    background-image: url("stars2.avif");

}
h1{
    text-align: center;
}
h2{
    margin: 0;
    color: white;
    text-align: center;
    font-family:"Audiowide", sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease-in-out;
}
.title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.title-gif {
    width: 200px;
    height: auto;
    margin-right: 0px;
    z-index: -1;
}
.right-gif {
    right: 0;
    transform: rotate(180deg);
    z-index: -1;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.white-box {
    position: absolute;
    top: 20px; 
    right: 30px; 
    width: 290px; 
    height: 150px;
    background-color: #6A599D; 
    border: 2px solid white; 
    box-shadow: 0 0 30px #733cb7; 
    border-radius: 5px; 
    justify-content: center;
    display: flex;
    align-items: center;

}
.white-box .box-text {
    font-family:"Audiowide", sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.overlay-gifUpsidedown {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 350px; 
    height: auto; 
    z-index: 0; 
    transform: translate(-50%, -50%) rotate(180deg);
}
.overlay-gif {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 350px; 
    height: auto;
    z-index: 0; 
}
.side-image {
    flex-grow: 1;
    height: 150px; 
    object-fit: cover;
    margin-left: 20px;
}
.concert1-container {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start; 
    width: 100%; 
    gap: 20px; 
}

.concert1 {
    position: relative;
    width: 60%;
    background-color: #fbeaff;
    padding: 50px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #b39cd0;
    animation: fadeIn 2s ease-in-out;
}


.concert1:hover {
    background-color: #b39cd0;
    box-shadow: 0 0 20px #b39cd0;
}
.concert1 h3{
    font-family:'Courier New', Courier, monospace;
}
.concert1 p strong{
    font-family:'Courier New', Courier, monospace;
}
.concert1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.concert2 {
    position: relative;
    align-self: flex-end;
    width: 60%;
    background-color: #fbeaff;
    padding: 50px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #b39cd0;
    animation: fadeIn 2s ease-in-out;
}
.concert2:hover {
    background-color: #b39cd0;
    box-shadow: 0 0 20px #b39cd0;
}
.concert2 h3{
    font-family:'Courier New', Courier, monospace;
}
.concert2 p strong{
    font-family:'Courier New', Courier, monospace;
}
.concert2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    
}
.concert3 {
    position: relative;
    align-self: flex-start;
    width: 60%;
    background-color: #fbeaff;
    padding: 50px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #b39cd0;
    animation: fadeIn 2s ease-in-out;
}
.concert3:hover {
    background-color: #b39cd0;
    box-shadow: 0 0 20px #b39cd0;
}
.concert3 h3{
    font-family:'Courier New', Courier, monospace;
}
.concert3 p strong{
    font-family:'Courier New', Courier, monospace;
}
.concert3 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.concert4 {
    position: relative;
    align-self: flex-end;
    width: 60%;
    background-color: #fbeaff;
    padding: 50px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #b39cd0;
    animation: fadeIn 2s ease-in-out;
}
.concert4:hover {
    background-color: #b39cd0;
    box-shadow: 0 0 20px #b39cd0;
}
.concert4 h3{
    font-family:'Courier New', Courier, monospace;
}
.concert4 p strong{
    font-family:'Courier New', Courier, monospace;
}
.concert4 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.concert5 {
    position: relative;
    align-self: flex-start;
    width: 60%;
    background-color: #fbeaff;
    padding: 50px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #b39cd0;
    animation: fadeIn 2s ease-in-out;
}
.concert5:hover {
    background-color: #b39cd0;
    box-shadow: 0 0 20px #b39cd0;
}
.concert5 h3{
    font-family:'Courier New', Courier, monospace;
}
.concert5 p strong{
    font-family:'Courier New', Courier, monospace;
}
.concert5 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.concert6 {
    position: relative;
    align-self: flex-end;
    width: 60%;
    background-color: #fbeaff;
    padding: 50px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #b39cd0;
    animation: fadeIn 2s ease-in-out;
}
.concert6:hover {
    background-color: #b39cd0;
    box-shadow: 0 0 20px #b39cd0;
}
.concert6 h3{
    font-family:'Courier New', Courier, monospace;
}
.concert6 p strong{
    font-family:'Courier New', Courier, monospace;
}
.concert6 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.concert7 {
    position: relative;
    align-self: flex-start;
    width: 60%;
    background-color: #fbeaff;
    padding: 50px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #b39cd0;
    animation: fadeIn 2s ease-in-out;
}
.concert7:hover {
    background-color: #b39cd0;
    box-shadow: 0 0 20px #b39cd0;
}
.concert7 h3{
    font-family:'Courier New', Courier, monospace;
}
.concert7 p strong{
    font-family:'Courier New', Courier, monospace;
}
.concert7 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.concert8 {
    position: relative;
    align-self: flex-end;
    width: 60%;
    background-color: #fbeaff;
    padding: 50px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #b39cd0;
    animation: fadeIn 2s ease-in-out;
}
.concert8:hover {
    background-color: #b39cd0;
    box-shadow: 0 0 20px #b39cd0;
}
.concert8 h3{
    font-family:'Courier New', Courier, monospace;
}
.concert8 p strong{
    font-family:'Courier New', Courier, monospace;
}
.concert8 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.concert9 {
    position: relative;
    align-self: flex-start;
    width: 60%;
    background-color: #fbeaff;
    padding: 50px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #b39cd0;
    animation: fadeIn 2s ease-in-out;
}
.concert9:hover {
    background-color: #b39cd0;
    box-shadow: 0 0 20px #b39cd0;
}
.concert9 h3{
    font-family:'Courier New', Courier, monospace;
}
.concert9 p strong{
    font-family:'Courier New', Courier, monospace;
}
.concert9 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.concert10 {
    position: relative;
    align-self: flex-end;
    width: 60%;
    background-color: #fbeaff;
    padding: 50px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #b39cd0;
    animation: fadeIn 2s ease-in-out;
}
.concert10:hover {
    background-color: #b39cd0;
    box-shadow: 0 0 20px #b39cd0;
}
.concert10 h3{
    font-family:'Courier New', Courier, monospace;
}
.concert10 p strong{
    font-family:'Courier New', Courier, monospace;
}
.concert10 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 400px) {
    nav {
        height: 20px;
        font-size: 8px;
        flex-direction: column; 
        letter-spacing: 2px;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.962);
    }

    h2 {
        font-size: 15px;
        letter-spacing: 2px;
    }

    .title-gif {
        width: 150px;
    }

    .overlay-gif,
    .overlay-gifUpsidedown {
        width: 65px;
    }

    .white-box {
        width: 50px;
        height: 20px;
        top: 2px;
        right: 10px;
    }

    .white-box .box-text {
        font-size: 5px;
    }


    .concert1-container {
        flex-direction: column;
        gap: 10px;
    }

    .concert1 {
        width: 90%; 
        padding: 20px;
        margin: 5px 0;
        font-size: 8px;
        margin: 5px auto;
    }
    .concert2 {
        width: 90%; 
        padding: 20px;
        margin: 5px 0;
        font-size: 8px;
        margin: 5px auto;
    }
    .concert3 {
        width: 90%; 
        padding: 20px;
        margin: 5px 0;
        font-size: 8px;
        margin: 5px auto;
    }
    .concert4 {
        width: 90%; 
        padding: 20px;
        margin: 5px 0;
        font-size: 8px;
        margin: 5px auto;
    }
    .concert5 {
        width: 90%; 
        padding: 20px;
        margin: 5px 0;
        font-size: 8px;
        margin: 5px auto;
    }
    .concert6 {
        width: 90%; 
        padding: 20px;
        margin: 5px 0;
        font-size: 8px;
        margin: 5px auto;
    }
    .concert7 {
        width: 90%; 
        padding: 20px;
        margin: 5px 0;
        font-size: 8px;
        margin: 5px auto;
    }
    .concert8 {
        width: 90%; 
        padding: 20px;
        margin: 5px 0;
        font-size: 8px;
        margin: 5px auto;
    }
    .concert9{
        width: 90%; 
        padding: 20px;
        margin: 5px 0;
        font-size: 8px;
        margin: 5px auto;
    }
    .concert10{
        width: 90%; 
        padding: 20px;
        margin: 5px 0;
        font-size: 8px;
        margin: 5px auto;
    }
    

}